* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color:   #87b39f; */
    background-color:    #3498db;
    color: white;
}

a {
    color: #333333;
    font-size: 20px;
}

.logo {
    width: 200px;
    height: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

main {
    /* background-color: papayawhip; */
    background-color: #f5f5f5;
    min-height: 82vh;
    padding: 5% 10% 0 5%;
}

.intro {
    width: 70%;
    font-size: 35px;
    color: #333333;
}

.description {
    width: 50%;
    font-size: 20px;
    margin: 30px 0;
}

button {
    padding: 10px 60px;
    background-color: #27ae60;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.courses-container {
    display: grid ;
    grid-template-columns: auto auto auto auto;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 300px;
    background-color: #7a7575;
    border-radius: 10px;
    align-items: center;
    color: #f3e8e8;
    margin: 10px;

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 300px;
    background-color: rgb(204, 117, 56);
    border-radius: 10px;
    align-items: center;
    color: white;
    margin: 10px;
}

input {
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    padding: 10px;
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}   